In [3]:
from sqlalchemy import create_engine
import psycopg2

In [4]:
engine = create_engine('postgresql+psycopg2://postgres:[password]@localhost:5432/postgres')

In [5]:
engine.table_names()

['test', 'flats_warsaw', 'errors']

### SQL

In [14]:
con = engine.connect()
con.closed

False

In [7]:
# Districts with number of offers and average price ordered by district name
con.execute('''SELECT district, count(district), AVG(price)::integer
                FROM flats_warsaw
                GROUP BY district
                ORDER BY district''').fetchall()

[('Bemowo', 9, 323278),
 ('Białołęka', 35, 301023),
 ('Bielany', 3, 320000),
 ('Bródno', 1, 299900),
 ('Chomiczówka', 1, 399900),
 ('Gocław', 1, 349245),
 ('Górny Mokotów', 2, 369759),
 ('Grochów', 2, 271000),
 ('mazowieckie', 2, 382160),
 ('Mokotów', 9, 376007),
 ('Nowa Praga', 4, 355190),
 ('Nowe Włochy', 1, 375000),
 ('Nowodwory', 2, 259000),
 ('Ochota', 8, 333805),
 ('Powiśle', 1, 399000),
 ('Praga-Południe', 16, 361535),
 ('Praga-Północ', 9, 311410),
 ('Radość', 1, 296900),
 ('Rembertów', 3, 327667),
 ('Sielce', 1, 379000),
 ('Słodowiec', 1, 340000),
 ('Śródmieście', 6, 346678),
 ('Tarchomin', 5, 326600),
 ('Targówek', 4, 315450),
 ('Targówek Mieszkaniowy', 1, 340000),
 ('Ursus', 3, 362182),
 ('Ursynów', 3, 323000),
 ('Wesoła', 2, 419650),
 ('Włochy', 1, 333854),
 ('Wola', 7, 338929),
 ('Zacisze', 2, 342500)]

In [8]:
# Three cheapest flats in Białołęka
con.execute('''SELECT *
            FROM flats_warsaw
            WHERE UPPER(district) = 'BIAŁOŁĘKA'
            ORDER BY price
            LIMIT 3''').fetchall()

[(258, 'Bezpośrednio,1pok,27m2,Ogródek,Autobusy, Szkoła.', 'Białołęka', 1, 198000, 27, 7333),
 (525, '2 pokoje nowe osiedle Bez prowizji !', 'Białołęka', 2, 220000, 43, 5023),
 (262, '2pok. Bezpośrednio, Deweloper, Autobusy do Metra', 'Białołęka', 2, 222000, 35, 6343)]

In [10]:
# Second cheapes flat
con.execute(r'''
            SELECT *
            FROM
                (SELECT 
                title,
                district,
                room,
                price,
                area,
                price_per_m,
                rank() over (order by price)
                FROM flats_warsaw
                ORDER BY price) AS data
            WHERE rank = 2
            ''').fetchall()

[('Majdańska, dwa pokoje na Grochowie', 'Grochów', 2, 142000, 35, 4057, 2)]

In [16]:
con.close()
con.closed

True